body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: rgb(81, 255, 0);
    color: aquamarine;
}
.cabeçalho{background-color: aqua;

color: blue;
width: 20px;
text-align: center;
.cabeçalho h1 {
font-size: 200%;
color: antiquewhite
margin: 5%;

}